#img1{
    width: 300px;
    position: absolute;
    right: 80%;
    top: 450px;
}

#img2{
    width: 100px;
    position: absolute;
    right: 300px;
    top: 400px;
}
#img3{
    width: 100px;
    position: absolute;
    right: 400px;
    top: 300px;
}
#img4{
    width: 100px;
    position: absolute;
    right: 500px;
    top: 200px;
}
#img5{
    width: 100px;
    position: absolute;
    right: 600px;
    top: 100px;
}
#img6{
    width: 100px;
    position: absolute;
    right: 700px;
    top: 500px;
}
