#img1{
    width: 550px;
    position: absolute;
    right: 75%;
    top: 450px;
    border-radius: 8px;
}

#img2{
    width: 550px;
    position: absolute;
    right: 60%;
    top: 270px;
    border-radius: 8px;
}
#img3{
    width: 550px;
    position: absolute;
    right: 41%;
    top: 450px;
    border-radius: 8px;
}

#img4{
    width: 100px;
    position: absolute;
    right: 500px;
    top: 200px;
}
#img5{
    width: 100px;
    position: absolute;
    right: 600px;
    top: 100px;
}
#img6{
    width: 100px;
    position: absolute;
    right: 700px;
    top: 500px;
}

body{
    background-color: #ffd700;
}
header{
    background-color: #ffd700;
}